/* Déclaration */
@blue: #17B6FF;
@magenta: #FF17B6;
@lime: #B6FF17;
@green: #1BFF17;
@grey: #4a494b;
@grey-clair: #cdcdce;
@beige: #eee5c7;

@beige-fonce : #e2ceaf;

@blanc: #fdfdfd;

@link-grey: #666666;

@halo: url(../img/halo.png);

@font-source-sans-pro : Source Sans Pro, sans-serif;
@font-times: Times New Roman, Times, serif;




@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,400,700);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline
}


ol,ul{list-style:none}

body{
	margin: 0;
	padding: 0;
	background: url(../img/global_bg.jpg) fixed;
	font-family: @font-source-sans-pro;
	text-rendering: optimizeLegibility;
	color: @grey;
	font-size: 1em;
}





a{
	color: @beige;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}



p {
	color: @grey;
}


legend, label{display: none;}

.hidden{display: none;}

.lire{float: right;}


.clearfix {
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clear {
    clear: both;
    height: 0;
}

/*
 * FORMULAIRE
 */

input[type="password"], input[type="text"], input[type="email"], { 
	background: @blanc; 
	border: 1px solid @grey;
	width: 140px;
	height: 24px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	font-family: @font-times;
	font-size: 0.850em;
}
	
input[type="submit"] {
	width: 100px;
	height: 24px;
	background: black;
	border: 1px solid @grey-clair;
	color: @grey-clair;
	display: inline-block;
	margin: 0;
	cursor:pointer;		
}
	
input[type="submit"]:hover {
}


.form-error{
	border-color: #820000 !important;
	color: #820000 !important;
	
}

/*
 * MESSAGE ERROR CONFIRMATION ALERT	
 */
.confirmation,.error,.msg_info,.alert
{	
	position:relative;
/* 	margin:5px 0; */
	padding:5px 5px 5px 5px!important;
	text-align:center;
	font-size: 0.850em;
	clear:both;
	border:none;
	
}


.confirmation,.error,.alert{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
/* 	box-shadow:0 0 6px rgba(0,0,0,.3); */
	/* background-position:10px 10px; */
}

	
/*
.confirmation,.error{
	color:#fff!important;
	font-weight:bold;
}
*/

.alert,.msg_info{color:#292929!important}

.confirmation:not(#foo),.error:not(#foo),.alert:not(#foo){
/* 	border:3px solid #fff;  */
}

.confirmation{
	background-color:rgba(194,255,201,1);
	border: 1px solid #0d5b07;
	color: #0d5b07;
	
}

.error{
	background-color:rgba(255,208,208,1);
	border: 1px solid #820000;
	color: #820000;
	}

.alert{
	background-color:#e5f5ff;
}

.msg_info,.msg_info .alert,.message-data.alert{
	-moz-border-radius:4px;	
	-webkit-border-radius:4px;
	border-radius:4px;
}

.msg_info{
	padding:20px 20px 20px 90px!important;
	background-color:#e5f5ff;
	background-position:20px 10px;
}

.msg_info .alert{
	margin:10px 0 0 -70px;
	padding:10px 10px 10px 65px!important;
	background-color:#fff;
	background-image:url(/img/pictos/alert_small.png);
	background-position:20px 10px;border:none;
	box-shadow:none}

/* .error .close_msg,.confirmation .close_msg,.alert .close_msg,.msg_info .close_msg{display:block;position:absolute;width:20px;height:20px;padding:0;top:0;right:0;overflow:hidden;text-indent:-9999px;background-position:center center} */


#wrap {
	
	width:960px;
	margin: 0px auto;
/* 	background: red; */
	overflow: hidden;
}

/*
 * HEADER
 */

header {
	width: 100%;
    height: 210px; 
    background: url(../img/global_bg.jpg);
    position:relative; 
    top:0px;
    z-index:999;
    display: block;
    border-bottom: 1px solid @grey;
    overflow: hidden;
    
    #content {
	    max-width: 960px;
	    height: 210px;
		background: @halo no-repeat center top;
	    margin: 0px auto;
    
    
	    #logo { 
			width : 220px;
			height: 119px;
			display: block;
	/* 		background: purple; */
			position: relative;
			top: 0px;
			margin: 0px auto;
			clear: both;
			z-index: 998;
			image-rendering: optimizequality;
		}
		
		
		nav{
			margin: 0 auto;
			text-align: center;
			max-width: 960px;
			width: 960px;
/* 			background: red; */
			select {
				display: none;
				margin: 0 auto;
				width: 95%;
				background: black;
				color: @grey-clair;
				border: 0;
				padding: 5px;
				font-size: 1em;
				text-transform: capitalize;
				option{
					text-transform: capitalize;
				}
			}
			ul{
				position: relative;
				top:-10px;
				margin: 0;
				clear: both;	
/* 				display: block; */
/*
				margin: 1em 0;
				text-align: center;
*/
				z-index: 997;
			}
			
			li{
				display: inline-block;
				/* background: blue; */
				margin: 0px 30px 0px 30px;
				padding-bottom: 5px;	
				text-transform: uppercase;
				width: auto;
/* 				background: green; */
				
				a {
					display:block;
					text-decoration: none;
					
					color: @blanc;
					font-size: 	0.875em;
					font-weight: 200;
					letter-spacing: 0.2em;
					opacity: 0.5;
				   transition: opacity .25s ease-in-out;
				   -moz-transition: opacity .25s ease-in-out;
				   -webkit-transition: opacity .25s ease-in-out;
/* 				   background: red; */
				}
				a:hover {
					opacity: 1;
				}
				
				ul {
					display: none;
					position: absolute;
					top:35px;
					left: 170px;

/* 					background: grey; */
					
					li{
						width: auto;
						font-size: 0.75em;
						
/* 						background: @beige; */
						margin: 15px !important;
/* 						padding: 15px; */
						padding: 0;
/* 						clear: both; */
/* 						display: block; */
						
					

						
					}
				}
					
				
				
				
			}
			li:hover > ul {
					opacity: 1;
					display: block;
				}	

			
			
		}
		
		#halo {
			position: relative;
			margin: -250px auto;
			width: 100%;
			height: 742px;
			background: @halo no-repeat center top;
			display: block;
		}
		#lang{
			float: right;
			position: relative;	
			width: 50px;
			
		}
	}
}


.current {
	border-bottom: 1px solid @beige;
}

.sub-current  {

	color: @beige-fonce !important;
}

	#halo {
		position: relative;
		margin: 0px auto;
		width: 100%;
		height: 742px;
		background: @halo no-repeat center top;
		display: block;
	}

/*
 * SECTION	
 */
section {
	position: relative;
/* 	top:20px; */
	margin: 20px auto;
	width: 960px;
	clear: both !important;
	display: block;
/* 	overflow: hidden; */
	div#content {
		display: block;
		width: 100%;
		overflow: hidden;
	}
}
		


.homepage {
	height: 477px;
	background: url(../img/mea_hp.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;

	h1 {
		position: relative;
		top:100px;
		left: 50px;
		display: block;
		clear: both;
		span {			
			text-transform: uppercase;
			color: @beige;
			display: block;
		}
		span:nth-child(1){
			font-size: 3em;
			font-weight: 200;	
		}
		span:nth-child(2){
			font-size: 1.625em;//26
			font-weight: 200;	
		}
		span:nth-child(3){
			font-size: 2.250em; //36
			font-weight: 400;	
		}
	}
	
	/**/
	p {
		position: relative;
		margin: 300px 50px;
		
		text-transform: uppercase;
	}
	p:before{
		content: ">";
		color: @beige;
	}

}



	

.contacts {
	height: 477px;
	background: rgba(255,255,255,0.50);
	h1 {
		display: none;
	}		
	
	h2{
		font-size: 1.125em;
		text-transform: uppercase;
		font-weight: 600;
	}
	
	ul {
		top:0px;

		clear: both;	
		display: block;
		margin: 0px 200px;
		text-align: center;
	}
	li {
		width: 160px;
		height: 120px;
/* 		background: red; */
/* 		display: inline-block; */
		float: left;
		display: block;
		text-align: left !important;
		margin: 30px 50px;
	}
	
	li:nth-child(1), li:nth-child(2){
		margin-top: 75px;
	}
	
	li:nth-child(3){
		clear: left !important;
	}
	p{
		font-family: @font-times;
		font-size : 0.938em;
		margin-top: 1em;
	}
	a{
		font-family: @font-times;
		color: @link-grey;
	}
	a:hover{
		text-decoration: none;
	}
}

.boutique{
	height: 477px;
	background: url(../img/boutique/01.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	box-shadow: inset 0px 128px 150px 50px rgba(0,0,0,0.81);
	background-repeat: no-repeat;
	h1 {
		position: relative;
		top:100px;
		left: 50px;
		p {
			text-transform: uppercase;
			color: @beige;
		}
		p:nth-child(1){
			font-size: 1.875em;//30
			font-weight: 200;	
		}
		p:nth-child(2){
			font-size: 2em;//32
			font-weight: 400;	
		}
		p:nth-child(3){
			font-size: 1.313em; //21
			font-weight: 200;	
		}
	}	
	
}


.histoire {
	background: rgba(255,255,255,0.50);

	div{
/* 		width: 100%; */
/* 		background: aqua; */
		padding: 35px;
	}
		
	h1 {
/* 		padding: 35px; */
		text-transform: uppercase;
		font-size: 2em;
		span:nth-child(1){
			font-weight: 400;
		}
		span:nth-child(2){
			font-weight: 200;
		}
	}		
	

	p:first-of-type{
		width: 70%;
		text-align: justify;
		font-family: @font-times;
		font-size : 1.1em;
		float: left;		
	}

	p:last-of-type{
		width: 30%;
		float:right;
		text-align: right;
		img{
			width: 90%;
		}
		em{
			display: block;
			font-size: 0.7em;
		}
	}

}


/*
 * PRO
 */

.professionnels{
	background: rgba(255,255,255,0.50);
	height: 477px;

	div{
/* 		background: red; */
		width: 400px;
		height: auto;
		top:60px;
		margin: 0px auto;
		position: relative;
		
		h1 {
			display: none;
		}	
		
		h2{
			font-size: 1.125em;
			font-weight: 600;
			text-transform: uppercase;
		}
		
		p{
		    font-family: @font-times;
		    font-size: 0.938em;
		    margin-top: 1em;
		}
		
		input[type="text"] {
			width: 220px;
		}
	}	
}


/*
 * COLLECTION
 */
.collection{
	h1 {
		display: none;
	}
	
	li{
		width:50%; 
		height: auto;
		display:inline; 
		float:left; 
		margin: 0px; 
		overflow:hidden; 
		margin-bottom:30px;
		
		div{
			position:relative; 
			margin: 0px auto; 
			width: 90%; 
			height: auto; 
			max-width: 401px;
			
			.visuel{
				width: 100%; 
				height: auto; 
				max-width:401px; 
				image-rendering: optimizequality; 
				display:block; 
				margin:0 auto;
			}
			
			p{
				 position:absolute; 
				 bottom: 50px; 
				 left:30px; 
				 z-index:99;
				 font-family: @font-source-sans-pro;
				 font-size: 1.2em;
				 text-transform: uppercase;
				 opacity: 1;
			}
		}
		
		/*
div:hover > p{
			opacity: 1;
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
			text-shadow: 7px 5px 4px black; 
		}
*/
		
	}
}






/*
 * FOOTER
 */

footer {
	position: relative;
/* 	top:50px; */
	display: block;
	width: 100%;
	height: 210px;
	clear: both !important;
	border-top: 1px solid @grey;
	color: @blanc;
	background: @halo no-repeat center bottom;
	
	
	fieldset{
		display: inline-block;
		margin-bottom: 10px;
	}
	

	
	
	p{
		color: @blanc;
		font-weight: 200;
		text-align: justify;
		margin-bottom: 10px;
	}
	
	a{
		color: @beige-fonce;
		text-decoration: underline;
	}
	
	#content{
		max-width: 960px;
		width: 95%;
	    height: 210px;
/* 	    background: rgba(0,255,255,0.29); */
		
	    margin: 0px auto;
	    
	    

	    .column{
	    	width: 300px;
		    display: inline-block;
/* 		    background: red; */
			float: left;	  
		    margin:24px 60px 0px 0px;
		    font-family: @font-times;
		    font-size: 0.875em;
		    
		    h2{
			    font-size: 0.938em; 
			    text-transform: uppercase;
			    font-family: @font-source-sans-pro;
			    font-weight: 600;
			    margin-bottom: 10px;
		    }
		    
		    li{
			    padding: 0px 0px 0px 15px;
			    margin-bottom: 10px;
			    width: auto;
/* 			    background: red; */
			    height: 14px;
			    line-height: 14px;
			    vertical-align: top;

			    a{
				    text-decoration: none;
				    text-transform: capitalize;
				    background: none;
			    }
		    }
		  
			.contacts:before{
				margin-right: 10px;		    	
		    	content: url(../img/contacts.png);
		    }
		    
		    .press:before{
				margin-right: 10px;		    	
		    	content: url(../img/press.png);
		    }
		    .facebook:before{
				margin-right: 10px;		    	
		    	content: url(../img/facebook.png);
		    }
		    .twitter:before{
				margin-right: 10px;		    	
		    	content: url(../img/twitter.png);
		    }    
		    
	    }
	    
	    
	    .column:first-of-type{
	    	/*background: url(../img/lil_fond.png) no-repeat center center;*/
		}
	    
	    .column:last-of-type{
		    width: 130px;
		    float: right;
		    margin:24px 0px 0px 0px;
		    border: 1px solid @beige;
		    padding: 20px;
		    h2{
			    display: none;
		    }
	    }
	    
	}
	
}



@media screen and (max-width: 480px)  {
	
	header {
		#content{
	
			nav {
				max-width: 480px;
				width: 100%;
				margin: 10px auto;
				ul{
					display: none;
				}
				select{
					display: block;
					
				}
			}
		}
	}
	


	/*
	 * SECTION	
	 */
	section {
		margin: 10px auto;
		width: 95%;			
	}

	.homepage {
		height: 238px;
		h1 {
			top:30px;
			left: 10px;
			span:nth-child(1){
				font-size: 2.5em;
			}
			span:nth-child(2){
				font-size: 1.025em;//26
			}
			span:nth-child(3){
				font-size: 1.750em; //36
			}
		}
		p {
			position: relative;
			margin: 100px 10px;
			text-transform: uppercase;
		}
		p:before{
			content: ">";
			color: @beige;
		}
	}

	
	/*
	 * COLLECTION 
	 */

	 .collection{

		li{
			width:100%; 
			display:block; 
			float:none; 
			margin-bottom:10px;
						
			div{
				max-width: 280px;
				.visuel{
					max-width:250px; 
				}
			}		
		}
	}

	/*
	 * 
	 */
	.boutique{
		height: 238px;
		box-shadow: inset 0px 18px 20px 100px rgba(0,0,0,0.41);

		h1 {

			top:30px;
			left: 10px;
			p{
				text-shadow: 1px 1px 1px black;
			}
			p:nth-child(1){
				font-size: 1.875em;//30
				font-weight: 200;	
			}
			p:nth-child(2){
				font-size: 2em;//32
				font-weight: 400;	
			}
			p:nth-child(3){
				font-size: 1.313em; //21
				font-weight: 200;	
			}
		}	
		
	}

	/*
	 * CONTACTS
	 */
	 .contacts {
		padding: 20px 0px 20px 0px;
		ul {
			margin: 10px auto;
			width: 50%;
		}
		li {
			float: none;
			margin: 20px 0px;
		}
		
		li:nth-child(1), li:nth-child(2){
			margin-top: 0px;
		}
		
		li:nth-child(3){
/* 			clear: none !important; */
		}
		p{
			margin-top: 0.3em;
			white-space: nowrap;
		}
	}

	/*
	 * HISTOIRE
	 */
	.histoire {
		padding: 20px 20px 20px 20px;
	}
	
	/*
	 * PRO
	 */
	
	.professionnels{
		height: auto;
		div{
			padding: 10px;
			width: 90%;
			top:0px;
			input[type="text"], input[type="email"], input[type="submit"] {
				width: 100%;
				clear: both;
				display: block;
			}
			input[type="submit"]{
				margin-top:10px;
				
			}
		}	
	}

	
	/*
	 * FOOTER
	 */
	footer {
		top:0px;
		
		#content{
			.column{
				width: 100%;
			    display: block;
/* 				float: inherit;	   */
			    margin:10px 0px 0px 0px;
			    font-family: @font-times;
			    font-size: 0.875em;
			    border-bottom: 1px solid @grey;
				 li{
				    padding: 0px 0px 5px 5px;
			    }
			    .contacts:before, .press:before, .facebook:before, .twitter:before{
				margin-right: 5px;		    	
		    }  
			}
			
		    .column:first-of-type{
		    	background-size: contain;
			}
		    
		    .column:last-of-type{
			    width: 100%;
			    float: none;
			    margin:0px 0px 0px 0px;
			    border: 0px solid @beige;
			    padding: 0px;
			    ul, li {
				    float: left;
				    display: inline-block;
			    }
			    h2{
				    display: block;
			    }
		    }
		}
		
	}

	
}

@media screen and (min-width: 480px) and (max-width: 960px) {

	section {
		position: relative;
		top:20px;
		margin: 0 auto;
	/* 	width: 95%; */
		width: 960px;
		min-height: 477px;
		height: 477px;
		clear: both !important;
		display: block;
		overflow: hidden;
		background: red;
	}


}



@media screen and (min-width: 1024px) {
	

}


